<div class="panel panel-default">
    <div class="panel-heading">
        <h1>メッセージ一覧</h1>
    </div>
    
    <div class="panel-body">
        <% @messages.each do |message| %>
            <span class="label label-info">名前:<%= message.name %></span>
            <%= message.body %>
            <br>
        <% end %>
    </div>
</div>

<div class="form-horizontal">
    <%= form_for(@message) do |f| %>
    
        <!-- 名前 -->
        <div class="form-group">
            <%= f.label :name, "名前", class: "control-label" %>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-user"></span>
                </div>
                <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
            </div>
        </div>
        
        <!-- 内容 -->
        <div class="form-group">
            <%= f.label :body, "内容", class: "control-label" %>
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-pencil"></span>
                </div>
                <%= f.text_area :body, class: "form-control", rows: "3", placeholder: "Message" %>
            </div>
        </div>
        
        <!-- 送信 -->
        <%= f.submit class: "btn btn-sm btn-primary" %>
    
    <% end %>
</div>